In [2]:
import pandas as pd
import os

In [6]:
df = pd.read_csv("/home/AzureUser/notebooks/RecSys/daisyRec/data/ratings_Electronics.csv",
                 names=['user', 'item', 'rating',  'time']
                )
df

                   user        item  rating        time
0         AKM1MP6P0OYPR  0132793040     5.0  1365811200
1        A2CX7LUOHB2NDG  0321732944     5.0  1341100800
2        A2NWSAGRHCP8N5  0439886341     1.0  1367193600
3        A2WNBOD3WNDNKT  0439886341     3.0  1374451200
4        A1GI0U4ZRJA8WN  0439886341     1.0  1334707200
...                 ...         ...     ...         ...
7824477  A2YZI3C9MOHC0L  BT008UKTMW     5.0  1396569600
7824478  A322MDK0M89RHN  BT008UKTMW     5.0  1313366400
7824479  A1MH90R0ADMIK0  BT008UKTMW     4.0  1404172800
7824480  A10M2KEFPEQDHN  BT008UKTMW     4.0  1297555200
7824481  A2G81TMIOIDEQQ  BT008V9J9U     5.0  1312675200

[7824482 rows x 4 columns]

In [8]:
len(df['user'].unique()), len(df['item'].unique())

(4201696, 476002)

In [20]:
def cutoff(x):
    return len(x) >= 5

In [34]:
user_5 =df.groupby('user').filter(lambda x: len(x)>=5)

In [36]:
len(user_5['user'].unique()), len(user_5['item'].unique())

(254064, 284800)

In [37]:
df_5filter = user_5.groupby('item').filter(lambda x: len(x)>=5)
len(df_5filter['user'].unique()), len(df_5filter['item'].unique())

(253812, 70622)

In [39]:
out_dir = "recommenders/tests/resources/deeprec/slirec/"
out_file = "reviews_Electronics_5.json_output"

user_5[['user', 'item', 'time']].to_csv(os.path.join(out_dir, out_file), index=False, sep="\t")